body {
	font-family: 'Raleway', sans-serif;
}

.container li {
    list-style: none;
}

.profile-image {
	width: 250px;
	height: 300px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.btn, .activate {
	background-color: #9bccff;
	color: white;
}

.blurb-shrink {
	margin: 0 20%;
}

a:hover {
	color: #9bccff;
}

.indent {
	padding-left: 75px;
	margin-bottom: 50px;
}

.profile-image > img{
    height: 250px;
    width: auto;
}

.quote {
	color: darkgray;
}

.sticky-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
footer li {
	list-style: none;
	display: inline;
	margin-right: 10px;
}

footer a {
	color: black;
}
